<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">
    <Properties>
        <Property name="format1">[%d{yyyy/MM/dd HH:mm:ss.SSS}] [%t] [%c{1}] [%p] %m%n</Property>
        <Property name="logfile">./log/LiteFrameJavaGui_log.log</Property>
        <Property name="logfile-archive">./log/LiteFrameJavaGui_log_%d{yyyy-MM-dd}-%i.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="logfile001" append="true" fileName="${logfile}"
                     filePattern="${logfile-archive}">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="logfile001"/>
        </Root>
    </Loggers>
</Configuration>